body{
    margin: 0px; 
}

.head-parent{
    padding: 0px 5px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.franchise{
    border: 1px solid white;
    padding: 16.5px 12px;
    border-radius: 35px;
}

.order-online{
    border: 1px solid red;
    background-color: red;
    padding: 12px 12px;
    border-radius: 35px;
}

.fa-arrow-right{
    border: 1px solid white;
    color: red;
    background-color: white;
    padding: 6px 7px;
    border-radius: 23px;
}

/* CONTAINER 1 */

.container-1{
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.welcome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(170, 169, 169);
    font-size: large;
}

.p-1{
    margin-top: 0px;
    font-size: large;
}

.brand-names{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.restaurant, .express, .village{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
}

.lazy{
    border: 1px solid black;
    background-color: white;
    padding: 20px 15px;
    border-radius: 5px;
}

.button-1{
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 30px;
}

.button-1-3{
    border: 1px solid white;
    border-radius: 50px;
    padding: 14.5px 30px;
}

/* CONTAINER 2 */

.container-2{
    background-color: rgb(15, 15, 15);
    color: rgb(170, 169, 169);
    padding-top: 50px;
    padding-bottom: 60px;
}

.r-franchises{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(170, 169, 169);
    font-size: x-large;
}

.p-2{
    margin-top: 0px;
    font-size: large;
}

.l-container-2{
    margin-left: 65px;
}

.r-isl{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.isl-pic{
    height: 300px;
    width: 550px;
}

.isl-text{
    height: 300px;
    width: 550px;
}

.button-2-1{
    width: 128px;
    margin-top: 50px;
    border: 1px solid rgb(255, 255, 255);
    padding: 14px 12px;
    border-radius: 50px;
    gap: 15px;
    color: white;
}

.red{
    color: red;
    font-weight: lighter;
}

.white{
    color: white;
}

.phone{
    text-decoration: none;
    color: rgb(170, 169, 169);
}

.r-fsd{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.fsd-txt{
    height: 300px;
    width: 550px;
}

.fsd-pic{
    height: 300px;
    width: 550px;
}

.r-bwl{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.bwl-pic{
    height: 300px;
    width: 550px;
}

.bwl-txt{
    height: 300px;
    width: 550px;
}

.small{
    font-size: small;
}

/* CONTAINER 3 */

.container-3{
    background-color: black;
    color: rgb(170, 169, 169);
    padding-top: 60px;
    padding-bottom: 50px;
}

.eexpress{
    display: flex;
    justify-content: center;
    color:rgb(170, 169, 169) ;
}

.e-franchises{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.ee{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-3{
    width: 128px;
    border: 1px solid rgb(255, 255, 255);
    padding: 14px 12px;
    border-radius: 50px;
    gap: 15px;
    color: white;
}

.l-container-3{
    margin-left: 58px;
}

/* CONTAINER-4 */

.container-4{
    background-color: rgb(15, 15, 15);
    color: rgb(170, 169, 169);
    padding-top: 30px;
    padding-bottom: 40px;
}

.l-container-4{
    margin-left: 28px;
}

.v-franchise{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.v-grw{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.grw-text{
    display: flex;
    flex-direction: column;
}

.button-4{
    margin-top: 20px;
    width: 128px;
    border: 1px solid rgb(13, 187, 42);
    background-color:rgb(13, 187, 42) ;
    padding: 10px 12px;
    border-radius: 50px;
    gap: 15px;
    color: white;
}

#green{
    color: rgb(13, 187, 42) ;
}

/* <!-- CONTAINER 5 --> */

.container-5{
    background-color: black;
    color: rgb(170, 169, 169);
    padding-top: 40px;
    padding-bottom: 40px;
}

.l-container-5{
    margin-left: 140px;
}

.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.s-boxes{
    display: flex;
    justify-content: center;
    gap: 26px;
    flex-wrap: wrap;
}

.s-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 230px;
    background-color: white;
    color: black;
    border-radius: 4px;
    gap: 10px;
    font-size: 23px;
}

.social{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 18px;
}

/* FOOTER */

footer{
    background-color: rgb(15, 15, 15);
    color: white;
    padding-top: 60px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
}

h4{
    font-weight: bolder;
    font-size: 18px;
}

.first{
    height: 283px;
    width: 367px;
}

.f-text-1{
    color: rgb(170, 169, 169);
    padding-top: 10px;
    padding-bottom: 15px;
}

.f-text-2{
    color: rgb(170, 169, 169);
}

.second{
    width: 196px;
}

.s-list{
    display: flex;
    flex-direction: column;
    color: rgb(170, 169, 169);
    gap: 20px;
}

.third{
    width: 245px;
}

.t-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.t-text{
    font-weight: bolder;
}

.fourth{
    width: 196px;
}

.fo-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iconsss{
    display: flex;
    gap: 5px;
}

#red-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50px;
}

.last{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(170, 169, 169);
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 500px;
    color: rgb(170, 169, 169);
    font-weight: lighter;
}