body{
    margin: 0px; 
}

.head-parent{
    padding: 0px 5px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.franchise{
    border: 1px solid white;
    padding: 16.5px 12px;
    border-radius: 35px;
}

.order-online{
    border: 1px solid red;
    background-color: red;
    padding: 12px 12px;
    border-radius: 35px;
}

.fa-arrow-right{
    border: 1px solid white;
    color: red;
    background-color: white;
    padding: 6px 7px;
    border-radius: 23px;
}

/* CONTAINER 1 */

.container-1{
    background-color: black;
    color: white;
    padding-bottom: 5px;
}
.welcome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(170, 169, 169);
}

p{
    margin-top: 0px;
}

.brand-names{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.restaurant, .express, .village{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
}

.lazy{
    border: 1px solid black;
    background-color: white;
    padding: 20px 15px;
    border-radius: 5px;
}

.button-1{
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 30px;
}

.button-1-3{
    border: 1px solid white;
    border-radius: 50px;
    padding: 14.5px 30px;
}

/* CONTAINER 2 */

.container-2{
    background-color: rgb(41, 40, 40);
    color: rgb(170, 169, 169);
}

.r-franchises{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(170, 169, 169);
}

.l-container-2{
    margin-left: 38px;
}

.r-isl{
    display: flex;
    gap: 200px;
    justify-content: center;
}

.button-2-1{
    width: 128px;
    margin-top: 50px;
    border: 1px solid rgb(255, 255, 255);
    padding: 14px 12px;
    border-radius: 50px;
    gap: 15px;
    color: white;
}

.red{
    color: red;
    font-weight: lighter;
}

.white{
    color: white;
}

.phone{
    text-decoration: none;
    color: rgb(170, 169, 169);
}

.r-fsd{
    display: flex;
    gap: 310px;
    justify-content: center;
}

.fsd-txt{
    margin-left: -250px;
}